body{
			margin:0;
			padding:0px 50px;
		}
		a{
			text-decoration:none;
		}
		.header_area{
			width:100%;
			
			
		}
		.logoarea{
			width:35%;
			float:left;
			background-color:#0fa99b;
		}
		.logoarea h1{
			padding-left:30px;
		}
		.menu_area{
			width:65%;
			float:left;
			background-color:#0fa99b;
		}
		.menu_area ul{
			list-style:none;
			text-align:right;
		}
		.menu_area ul li{
			display:inline-block;
			padding:15px;
			color:white;
		}
		.menu_area ul li a{
			
			color:white;
		}
		.content_area{
			height:500px;
			width:100%;
			overflow:hidden;
		}
		.content_left{
			width:35%;
			float:left;
		}
		
		.content_right{
			width:65%;
			float:left;
		}
		/*footer*/
.footer_container{
	background-color: black;
	text-align: center;
	padding: 10px;

}
.footer_container a{
	color: #0fa99b;
	text-decoration: none;
	margin: 20px;
}

.footer_container p{
	color: gray;
	margin-top: 20px;
}

.footer_container a:hover{
	text-decoration: none;
	color:#e81c0f;

}